body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
} 
.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
}

.mainHeading{
    color: black;
    text-align: center;
    padding: 8px;
}
.project{
    margin-top: 20px;
    position: relative;
    width: 300px;
    height: 250px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 2px 5px 0 black, 0 2px 8px 0 black;
}
.svg-icon{
    width: 50px;
    height: 50px;
    fill: black;
}

.btnProject{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: black;
    color: white;
    width: 100%;
    padding: 10px 12px;
    border-radius: 20px;
}
.btnProject:hover{
    cursor: pointer;
}
.btnProject:active{
    transform: translateY(3px);
}
a.projectLink{
    color:white;
    font-size: 15px;
    text-decoration: none;
}
.lines{
    text-align: center;
}
.line1{
    color: black;
}
.line2{
    color: black;
}