body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(#3E5151, #DECBA4);
    background-size: cover;
    overflow-y: hidden;
}
.nav{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav a img{
    width: 40px;
    height: 40px;
    padding-right: 20px;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100vh;
}

.mainHeading{
    color: white;
    margin: auto;
}

.project{
    margin: 1px;
    position: relative;
    width: 250px;
    height: 240px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 2px 5px 0 black, 0 2px 8px 0 black;
}

.svg-icon{
    width: 50px;
    height: 50px;
    fill: black;
}

.btnProject{
    position: absolute;
    bottom: 0;
    left: 0;
    background: black;
    color: white;
    width: 100%;
    padding: 10px 12px;
    border-radius: 20px;
}

.btnProject:hover{
    cursor: pointer;
    opacity: 92%;
    background: rgb(23, 22, 22);
}

.btnProject:active{
    transform: translateY(3px);
}

a.projectLink{
    color:white;
    font-size: 15px;
    text-decoration: none;
}

.lines{
    text-align: center;
}

.line1{
    color: black;
}

.line2{
    color: black;
}