
body{
    background-color: #111111;
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    position: relative;
    height: 690px;
    background: radial-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)) ,url("cover_photo.jpg") no-repeat;
    background-size: cover;
} 

header svg{
    fill: #1ce783;
}

nav{
    height: 64px;
    background: linear-gradient(180deg,#000 40%, transparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    box-sizing: border-box;
}
.btn_signIn{
    font-size: 16px;
    color: lightgray;
    font-weight:bold ;
    padding: 8px 18px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    
}

.btn_signIn:hover{
    font-size: 16px;
    font-weight:bold;
    color: white;
    padding: 8px 18px;
    border: none;
    border-radius: 5px;
    background-color: rgba(143, 139, 139, 0.6);
    transition: 0.2s;
    cursor: pointer;
    }

.firstLine{
    color: #1ce783;
}

.third_line{
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin: 10px;
    margin-bottom: 30px;
}

a{
    color: white;
    font-size: 15px;
    cursor: pointer;   
}

 .link1{
    padding-top: 10px;
}

.link2{
    padding-top: 22px;
}

.main_heads{
    height: 300px;
    margin-top: 50px;
}

#main_container {
    height: 660px;
    text-align: center;
    padding: 35px;
    margin-bottom: 0px;
   
}
.trio_logo{
    width: 580px;
}
.trio_btn{
    width: 43%;
    background-color: #1ce783;
    color: black;
    padding: 12px 32px;
    border: none;
    border-radius: 5px;
}
.trio_btn:hover{
    width: 43%;
    background-color: #1ce783;
    opacity: 0.8;
    color: black;
    padding: 12px 32px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button{
    font-weight: 600;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}
.duo_img{
    width: 280px;
    margin-left: 30px;
    flex-grow: 1;
}
.content{
    padding-left: 38px;
    padding-top: 15px;
    padding-bottom: 20px;
    flex-grow: 1;
    color: white;
}
    
.content h5{
    color: #1ce783;
}

.column{
    flex-grow: 8;
    padding-left:200px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.btn3{
    background-color: #1ce783;
    border: 2px solid black;
    border-radius: 6px;
    color: black;
    padding: 13px 32px;
}
.btn3:hover{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 4px;
    color: black;
    padding: 15px 32px;
    background-color: lightgray;
    margin-left: 5px;
    cursor: pointer;
}

.link_duo{
    font-size: 10px;
    margin-top: 3px;
}
.link_duo:hover{
    text-decoration: none;
}

.para_duo2{
    margin-top: -20px;
    font-size: 26px;
}
 
    .aside{
    height: 90vh;
    background-color: red;
    }
    .categories{
           text-align: center;
           width: 800px;
           justify-content: center;
           align-items: center;
           margin: 5px auto;
    }
    .categories .text_xl{
        font-size: 60px;
        color: white;
        flex-wrap: wrap;
    }

    .categories h4{
        color: #1ce783;
        padding-top: 30px;
        flex-wrap: wrap;
    }
    .cards{ 
        height: 960px;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        margin: 20px;
        flex-wrap: wrap;
        margin-bottom: 120px;
    }
    .card1{
        position: relative;
        width: 300px;
        height: 420px;
        margin-right: 10px;
        border: 2px white;
    }
    .card1 img{
        width: 100%;
        opacity: 75%;
    }

    .card2{
        position: relative;
        width: 300px;
        height: 420px;
        margin-left: 10px;
        margin-right: 10px;
        border: 2px white;
    }

    .card2 img{
        width: 100%;
        opacity: 80%;
    }
    .card3{
        position: relative;
        width: 300px;
        height: 420px;
        margin-left: 10px;
        margin-right: 10px;
        border: 2px white;
    }
    .card3 img{
        width: 100%;
        opacity: 70%;
    }
    .card4{
        width: 300px;
        position: relative;
        height: 420px;
        margin-left: 10px;
        margin-right: 10px;
        border: 2px white;
    }
    .card4 img{
        width: 100%;
        opacity: 70%;
    }
    .cards .card4 p{
        font-size: 11px;
        color: rgb(173, 172, 172);
        margin: 0;
    }
    
     .img_text{
        position: absolute;
        top: 0;
        text-align: left;
        margin-left: 20px;
        margin-top: 20px;
     }
     .first_content{
        padding-bottom: 70px;
        height: 800px;
     }
      
     .another_content{
        width: 750px;
        height:500px;
        box-sizing: border-box;
        text-align: center;
        padding: 32px;
        margin: 12px auto;
     }
    .another_content h1{
        font-size: 50px;
        font-weight: px;
    }
    .another_content p{
        font-size: 10px;
        color:rgb(186, 185, 185);
    }
    .another_content h4{
        font-size: 18px;
        margin-top: -15px;
    }
    .another_content h5{
        color: #1ce783;
        margin-bottom: -32px;
    }
     .link_location a{
        font-size: 18px;
    }
    main{
        background: radial-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.6)), url("Hulu-Plus-TV-Sports.jpg") no-repeat;
        background-size: cover;
        height: 100vh;
        position: relative;
    }
     
     .mainSections{
        position: absolute;
        top: 200px;
        left: 250px;
        padding: 10px;
        width: 440px;
        height: 400px;
        box-sizing: border-box;
     }

     h1.boldhead{
        font-size: 45px;
        font-weight: bolder;
        padding-top: 18px;
     }
     .catchphrase{
        font-weight: 500;
     }

     .icons{
        width: 260px;
        display: flex;
        justify-content: space-between;
        align-items: centre;
        margin: 30px 0;
    }
     
     .icon1, .icon2, .icon3, .icon4{
        width: 48px;
        height: 48px;
        border-radius: 50%;
     }
    .smallFontLink,
        .smallFont  {
        font-size: 10px;
        color: rgba(255,255,255,0.6);
    }
    a.mainSectionLink {
        position: relative;
        font-size: 12px;
        font-weight: 700;
        text-decoration: none;
        color: rgba(255,255,255,0.6);
        box-sizing: border-box;
        padding: 12px;
        padding-bottom: 20px;
    }
    a.mainSectionLink:hover{
        color: rgba(143, 142, 142, 0.6);;
    }
    a.livelink::after{
        position: absolute;
        content: "";
        height: 5px;
        width: 80%;
        background-color: white;
        bottom: 0;
        left: 10px;
    }
    .navLinks a.livelink{
        color: white;
    }
     aside.plan{
        height: 150vh;
        margin: 12px auto;
        width: 70%;
     }

     .planHead{
         font-size: 46px;
         font-weight: bolder;
         margin-bottom: 0;
         letter-spacing: 1.5px;
     }
     .planmid{
        font-weight: 400;
        margin-bottom: 0;
     }
     
     .planlast{
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 50px;
     }

     .planLineOne{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        position: relative;
     }
     
     .planLineOne::after{
        position: absolute;
        bottom: 0;
        content: "";
        height: 1px;
        background-color: rgb(79, 74, 74);
        width: 100%;
     }
     
     .infoOne{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 200px;
     }
     .svgHulu{
        fill: #1ce783;
        width: 36px;
        height: 36px;
     }
      footer{
        height: 450px;
        background-color: white;
      }

    @media only screen and (max-width: 1331px) {
        .first_content{
            height: 1200px;
        }
    }
